* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, rgb(24, 161, 24), rgb(255, 136, 0));
  height: 100vh;
  width: 100vw;
}

.caja {
  background: rgb(255, 249, 216);
  width: 60vw;
  height: 80vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  box-shadow: 10px 10px 10px 3px rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  background: black;
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 20%;
  border-radius: 100%;
}

img {
  width: 8rem;
  height: 8rem;
}

.titulo {
  position: absolute;
  top: 8%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2.3rem;
}

.input1 {
  position: absolute;
  width: 75%;
  top: 55%;
  display: flex;
  justify-content: center;
}

.input2 {
  position: relative;
  width: 75%;
  top: 65%;
  display: flex;
  justify-content: center;
}

input{
  width: 100%;
  padding: .6rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 10px .5px rgb(130, 0, 0);
  font-size: 1rem;
  font-weight: bold;
}

i{
  margin: .7rem;
}

.visibilidad{
  position: absolute;
  right: .2rem;
  cursor: pointer;
}

input:focus{
  border: none;
  box-shadow: 0px 0px 10px .5px rgb(16, 112, 9);
  outline: none;
}

.boton{
  --angulo: 0deg;
  position: absolute;
  top: 77%;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  border-radius: .7rem;
  width: 10rem;
  background: linear-gradient(to bottom, rgb(121, 230, 255), rgb(0, 162, 255), rgb(121, 230, 255));
  color: aliceblue;
  cursor: pointer;
  transform: scale(1);
  transition: .5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.boton::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgb(121, 210, 255), rgb(0, 142, 255), rgb(121, 210, 255));
  opacity: 0;
  transition: opacity .5s ease;
  z-index: -1;
}

.boton:hover::before{
  opacity: 1;
}

.boton:hover{
  transform: scale(1.1);
}

.boton:active{
  transform: scale(1.15);
  transition: .2s;
}